<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Git Basics</title>
  </head>
  <body>
    <h1>Basic Git Commands</h1>
    <dl>
      <dt>git init</dt>
      <dd>initializes the current folder as a git repository</dd>
      <dd>
        this command will mark the folder as "master"; that is, this is now the
        master branch
      </dd>
      <dt>git status</dt>
      <dd>tells you the current status of the repository</dd>
      <dt>git add</dt>
      <dd>all files in current directory will be added to the staging area</dd>
      <dt>git commit</dt>
      <dd>
        will commit current state of folders (staged) to the git repository
      </dd>
      <dd>
        a snapshot off the current state of all files is added to the git
        repository
      </dd>
      <dt>-m (flag)</dt>
      <dd>
        add the <code>-m</code> flag to <code>git commit</code> to add a message
        with the commit
      </dd>
      <dt>git log --oneline</dt>
      <dd>
        shows the 8 digit hash and the commit message of all commits thus far in
        repo
      </dd>
      <dd>
        a brief log versus the more detailed log you'd get with
        <code>git log</code>
      </dd>
    </dl>
  </body>
</html>
